dist: xenial
language: python

python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'
  - '3.7-dev'

install:
  - pip install tox tox-travis

script:
  - tox

after_success:
  - pip install codecov
  - codecov
